In [1]:
print('Hello World')

Hello World

In [1]:
#variable and data types:
x=10
y=3.56
name="data"
is_ready = True

In [3]:
print(type(x))
print(type(y))
print(type(name))
print(type(is_ready))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [5]:
#list and disctionary
numbers=[1,2,3,4]
print(numbers[0])

1

In [6]:
numbers.append(5) #addan element :numbers
#becomes [1,2,3,4,5]
numbers[2]=20
print(numbers)

[1, 2, 20, 4, 5]

In [7]:
#creating a list
my_list =[1,"hello",3.14,True]

#accessing elements
print(my_list[0])

1

In [8]:
#modifying elements
my_list[1]="world"
print(my_list)

[1, 'world', 3.14, True]

In [9]:
#adding elements
my_list.append(42)
print(my_list)

[1, 'world', 3.14, True, 42]

In [10]:
person={'name':"ayush","age":21}
print(person)

{'name': 'ayush', 'age': 21}

In [11]:
# Variables and arithmetic
length = 5
width = 3
area = length + width
print(f"The are of the rectangle is {area}")

The are of the rectangle is 8

In [12]:
numbers=[10,20,30,40,50]
print("list:",numbers)
print("Max:",max(numbers))
print("min",min(numbers))
print("Average:",sum(numbers)/len(numbers))

list: [10, 20, 30, 40, 50]
Max: 50
min 10
Average: 30.0

In [3]:
import numpy as np
#create a Numpy array
array = np.array([1, 2, 3, 4, 5])
print(array*2)

[ 2  4  6  8 10]

In [7]:
import pandas as pd
#create a pandas DataFrame
data = pd.DataFrame({'Name': ['Ayush', 'Rauniyar'], 'Age': [21, 24]})
#Access a column
print(data)

       Name  Age
0     Ayush   21
1  Rauniyar   24

In [6]:
import pandas as pd
NewSeries = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(NewSeries)

a    10
b    20
c    30
dtype: int64

In [8]:
import pandas as pd

#Creating a Series from a List
data = pd.Series([10, 20, 30, 40])
print(data)

0    10
1    20
2    30
3    40
dtype: int64

In [9]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [10]:
# Adding a new Column
df['Department'] = ['HR', 'Finance', 'Engineering']
print(df)

      Name  Age  Salary   Department
0    Alice   25   50000           HR
1      Bob   30   60000      Finance
2  Charlie   35   70000  Engineering

In [11]:
# Accessing a column
print(df['Age']) # Returns a Series

# Accessing a specific row 
print(df.loc[1]) # Output : row with index 1

0    25
1    30
2    35
Name: Age, dtype: int64
Name              Bob
Age                30
Salary          60000
Department    Finance
Name: 1, dtype: object

In [20]:
import pandas as pd 

# 1. Create a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": ["New York", "Los Angeles", "Chicago", "Houston"],
    "Salary": [70000, 80000, 120000, 9000]
}
df = pd.DataFrame(data)

# 2. Display The DataFrame
print("DataFrame:")
print(df)

# 3. Access specific columns 
print("\nAccessing the 'Name' column:")
print(df["Name"])

# 4. Filter rows based on a condition 
print("\nFiltering rows where Salary > 80000:")
print(df[df["Salary"] > 80000])

# 5. Add a new column
df["Boous"] = df["Salary"] * 0.1
print("\nDataFrame after adding a 'Bonus' column:")
print(df)

# 6. Basic statistics
print("\nBasic statistics:")
print(df.describe())

# 7. Sort the DataFrame
print("\nDataFrame sorted by Age:")
print(df.sort_values(by='Age'))

# 8. Save the DataFrame to a CSV file
df.to_csv("output.csv", index=False)
print("\nDataFrame saved to 'output.csv'")

DataFrame:
      Name          Age  Salary
0    Alice     New York   70000
1      Bob  Los Angeles   80000
2  Charlie      Chicago  120000
3    David      Houston    9000

Accessing the 'Name' column:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

Filtering rows where Salary > 80000:
      Name      Age  Salary
2  Charlie  Chicago  120000

DataFrame after adding a 'Bonus' column:
      Name          Age  Salary    Boous
0    Alice     New York   70000   7000.0
1      Bob  Los Angeles   80000   8000.0
2  Charlie      Chicago  120000  12000.0
3    David      Houston    9000    900.0

Basic statistics:
              Salary         Boous
count       4.000000      4.000000
mean    69750.000000   6975.000000
std     45901.161932   4590.116193
min      9000.000000    900.000000
25%     54750.000000   5475.000000
50%     75000.000000   7500.000000
75%     90000.000000   9000.000000
max    120000.000000  12000.000000

DataFrame sorted by Age:
      Name          Age  Salary    Boous
2  Charlie      Chicago  120000  12000.0
3    David      Houston    9000    900.0
1      Bob  Los Angeles   80000   8000.0
0    Alice     New York   70000   7000.0

DataFrame saved to 'output.csv'

In [25]:
import pandas as pd

# Load the database from a Local file
file_path = r"D:\3rd_Sem\Foundation of Data Science\Titanic.csv" # Path to the Local Titanic dataset
df = pd.read_csv(file_path)

# Display the first 5 rows of the datset
print("First 5 rows of the dataset:")
print(df.head())

#Display basic information about the Dataset
print("\nBasic information about the datset:")
print(df.info())

# Count of survivors (1 = survived, 0 = not survived )
survivor_count = df['Survived'].value_counts()
print("\nSurvivor coungt (0 = Not survived, 1= Survived):")
print(survivor_count)

First 5 rows of the dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Basic information about the datset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Survivor coungt (0 = Not survived, 1= Survived):
Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
# Data Manipulation 
import pandas as pd 

# Load data
df = pd.read_csv("data.csv")

# Explore
print(df.head())
print(df.describe())

   col1  col2 col3
0     5     3    A
1    12     6    B
2     8     2    C
3    15     8    D
4     7     4    E
            col1      col2
count   5.000000  5.000000
mean    9.400000  4.600000
std     4.037326  2.408319
min     5.000000  2.000000
25%     7.000000  3.000000
50%     8.000000  4.000000
75%    12.000000  6.000000
max    15.000000  8.000000